/* -------------------- Global definitions -------------------- */

* {
	box-sizing: border-box;
	font-family: "Segoe UI";
	font-size: 100%;
}

html {
	font-size: 1px;
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
	html { font-size: 0.1vw; }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
	html { font-size: 0.2vw; }
}

body {
	margin: 0;
	font-size: 18rem;
	background-color: white;
}

h1 {
	margin: 10rem 0;
	font-size: 30rem;
}

h2 {
	margin: 10rem 0;
	font-size: 20rem;
}

p {
	margin: 10rem 0;
}

input:disabled+label {
	color: #888888;
}

.top {
	vertical-align: top !important;
}

.middle {
	vertical-align: middle !important;
}

.bottom {
	vertical-align: bottom !important;
}

.left {
	text-align: left !important;
}

.center {
	text-align: center !important;
}

.right {
	text-align: right !important;
}

.hidden {
	display: none !important;
}

/* -------------------- Components -------------------- */

.button {
	display: inline-block;
	height: 34rem;
	line-height: 32rem;
	min-width: 100rem;
	margin: 0;
	padding: 0 10rem 0 10rem;
	border: 1rem solid #000042;
	font-size: 18rem;
	text-decoration: none;
	text-align: center;
	background-color: #000042;
	color: white;
	cursor: pointer;
	/* Fix bug in touch screen */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	border-color: #0042AA;
	background-color: #0042AA;
	transition: 0.2s;
}

.button:disabled {
	border-color: #5B6C7D;
	background-color: #5B6C7D;
	color: #E0E0E0;
}

/* Fix CSS bug in Firefox */
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.button.green:hover {
	border-color: #00AA00;
	background-color: #00AA00;
	transition: 0.2s;
}

.button.red:hover {
	border-color: #AA0000;
	background-color: #AA0000;
	transition: 0.2s;
}

.inputfield {
	display: inline-block;
	width: 100%;
	margin: 5rem 0 5rem 0;
	border: 1rem solid #E8E8E8;
	font-size: 18rem;
	background-color: #E8E8E8;
	color: black;
}

input.inputfield {
	height: 34rem;
	padding: 0 5rem 0 5rem;
}

textarea.inputfield {
	height: 100rem;
	padding: 5rem;
}

.inputfield:hover, .inputfield:focus {
	border-color: #AAAAAA;
	background-color: #FFFFFF;
}

.inputfield:disabled, .inputfield[readonly] {
	border-color: #E8E8E8;
	background-color: #E8E8E8;
	cursor: default;
}

input.inputfile {
	display: inline-block;
	height: 34rem;
	width: 100%;
}

/* Fix CSS bug in Chrome and Opera */
input.inputfile::-webkit-file-upload-button {
	height: 100%;
}

select.menu {
	display: inline-block;
	height: 30rem;
	width: 100%;
	margin: 0;
	padding: 0;
}

.block-button {
	display: table;
	line-height: 34rem;
	width: 100%;
	margin: 15rem 0 15rem 0;
}

.block-button>:first-child {
	float: left;
	width: calc(100% - 100rem);
	margin: 0;
}

.block-button>.button {
	float: left;
	width: 100rem;
}

.block-button.alt>:first-child {
	width: calc(100% - 205rem);
}

.block-button.alt>:last-child {
	margin-left: 5rem;
}

/* -------------------- Navigation bar -------------------- */

nav {
	display: block;
	max-width: 800rem;
	margin: auto;
	font-size: 24rem;
	padding: 0 10rem 0 10rem;
}

nav .link {
	padding: 5rem;
	color: #888888;
	text-decoration: none;
	cursor: pointer;
}

nav .link:hover {
	background-color: #E0E0E0;
}

nav .link.active {
	color: #0042AA;
	text-decoration: underline;
}

/* -------------------- Content -------------------- */

content {
	display: block;
	max-width: 800rem;
	margin: auto;
	padding: 0 10rem 50rem 10rem;
}

.block {
	display: block;
	margin: 20rem 0 20rem 0;
	border-top: 1px solid #E0E0E0;
}

h2 .link {
	float: right;
}

/* -------------------- Settings -------------------- */

ul.list-options-v {
	display: block;
	max-width: 600rem;
	margin: 10rem auto 10rem auto;
	padding: 0;
	list-style: none;
}

ul.list-options-v>li {
	height: 30rem;
	line-height: 30rem;
}

ul.list-options-v>li:hover {
	background-color: #E0E0E0;
}

ul.list-options-v>li select.menu {
	display: block;
	float: right;
	width: 120rem;
}

ul.list-options-h {
	display: block;
	margin: 10rem 0 10rem 0;
	padding: 0;
}

ul.list-options-h>li {
	display: inline-block;
	padding: 5rem;
	margin: 0 5rem 0 5rem;
}

ul.list-options-h>li:hover {
	background-color: #E0E0E0;
}

/* -------------------- Domain blacklist -------------------- */

#blacklist .block-button {
	max-width: 500rem;
	margin: 15rem auto 15rem auto;
}

table.list-urls {
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 500rem;
	margin: auto;
	border: 2px groove #F0F0F0;
	border-collapse: collapse;
}

table.list-urls>tr:first-child {
	border-top: 0;
}

table.list-urls>tr {
	border-top: 1rem solid #E0E0E0;
}

table.list-urls>tr>td:nth-child(1) {
	padding: 5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.list-urls>tr>td:nth-child(2) {
	width: 65rem;
	padding: 0 8rem 0 8rem;
	text-align: right;
}

/* -------------------- Footer -------------------- */

footer {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10rem;
	text-align: center;
	background-color: white;
	box-shadow: 0 0 5rem rgba(0,0,0,0.175);
}

.msgbox {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 60rem;
	line-height: 30rem;
	max-width: 500rem;
	margin: auto;
	padding: 5rem;
	text-align: center;
	color: white;
	opacity: 0.9;
	cursor: pointer;
	animation: fadein 0.2s;
}

.msgbox.success {
	background-color: #6EA081;
}

.msgbox.warning {
	background-color: #FF9922;
}

.msgbox.error {
	background-color: #DD2222;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 0.9; }
}

/* -------------------- Icons -------------------- */

.icon-help {
	display: inline-block;
	line-height: 25rem;
	height: 25rem;
	width: 25rem;
	border-radius: 50%;
	text-align: center;
	background-color: #CCCCCC;
	color: white;
}

.icon-help:hover {
	background-color: #BBBBBB;
	transition: 0.2s;
}

.icon-help::before {
	content: "\003F";
}

.icon-circle {
	display: inline-block;
	height: 15rem;
	width: 15rem;
	margin: 0 5rem 0 10rem;
	border-radius: 50%;
	background-color: lightgray;
}

.icon-circle.green {
	background-color: green;
}

.icon-circle.orange {
	background-color: orange;
}

.icon-circle.red {
	background-color: red;
}

.icon-false {
	display: inline-block;
	margin: 0 2rem 0 2rem;
	height: 35rem;
	line-height: 35rem;
	font-size: 25rem;
	font-weight: bold;
	vertical-align: top;
	color: #DD2222;
	cursor: pointer;
}

.icon-false:hover {
	color: #AA0000;
	transition: 0.2s;
}

.icon-false::before {
	content: "\2715";
}
